


.skills{
    display:flex;
    justify-content: space-evenly;
    
}
select{
    max-height: 24px;
    font-size:.75rem;
} 
.smallBox{
    width: 3rem;
    max-height: 24px;     
}
.numbs{
    text-align: center;
    border: 1px solid black;
    margin: .2rem 1rem;
    padding:0 2rem;
    display: flex;
    align-items: center;
    height: 24px;
    color: rgb(192, 192, 192)
}
.blank{
    color:white;
}
.colm{
    display: flex;
    flex-direction: column;
    p{
       margin:0; 
    }
    p:first-child{
       
    }
}