
.options{
    margin:.5rem;
    textarea{
        width:100%;
        margin-bottom:.5rem;
    }
}



h6{
    text-align: center; color:white; background-color: black;width:100%;padding: .5vh .5rem;border-radius:10px;
    margin:0;
}