<section class="armor">
    <div class="tb">
        <tr class="colm">
            <td class="wornArm">
                Armor Worn<input type="checkbox" id="aromorWorn" name="aromorWorn" value="aromorWorn">
            </td>
            <input type="text" value="{{currArmor}}">
            <td class="talents"> 
                <p>
                    <label>Proficiency</label>
                    <input type="checkbox" id="proficiency" name="proficiency" value="proficiency">
                </p>
                <p>
                    <label>Armor Def.</label>
                    <input type="checkbox" id="armorDef" name="armorDef" value="armorDef">
                </p> 
                <p>
                    <label>Improved Armor Def.</label>
                    <input type="checkbox" id="improveArmorDef" name="improveArmorDef" value="improveArmorDef">
                </p>   
            </td>
        </tr>
    </div>
    <div class="tb">
        <tr class="colm">
            <p>Ref Def Bonus</p>
            <input type="number" min="0" placeholder="0">
        </tr>
        <tr>
            <p>Fort Def Bonus</p>
            <input type="number" min="0" placeholder="0">
        </tr>
    </div>








</section>