<header>
  <h1 class="text-center m-4">Star Wars Saga Edition</h1>
  <div class="brand">
    
  </div>
  <nav class="navbar">
      <ul class="nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/bio">Bio and info</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/charsheet">Character Sheet</a></li>
      </ul>
  </nav>
</header>

<router-outlet></router-outlet>
